* {
  box-sizing: border-box;
}

body {
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h1 {
  font-family: cursive;
}

h2,
h3,
.second-grid a {
  margin: 0;
  background-color: #eeeaea;
  font-size: 1.5em;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  text-decoration: none;
  color: #000;
  font-weight: bold;
}

h3,
.second-grid a {
  width: fit-content;
}

p {
  margin: 0;
}

body {
  font-family: Arial;
  margin: 0;
}

nav {
  display: flex;
  background-color: #cbd0d4;
  justify-content: center;
  align-items: center;
}

nav a {
  padding: 14px 20px;
  text-decoration: none;
  text-align: center;
  color: #000;
  font-weight: bold;
}

nav img {
  max-height: 110px;
  /* Adjust the height as needed */
  margin-right: 20px;
  /* Add margin for spacing */
}

.first-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 0.6fr 2.2fr 0.2fr;
  gap: 0px 0px;
  grid-auto-flow: row;
}

.header {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1.5fr 0.1fr 1.6fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "nav-bar nav-bar nav-bar"
    ". . ."
    "hero-banner hero-banner hero-banner";
  grid-area: 1 / 1 / 2 / 4;
}

.nav-bar {
  grid-area: nav-bar;
  font-size: 20px;
}

.hero-banner {
  grid-area: hero-banner;
  background-image: url(../images/banner.png);
  display: flex;
  padding: 14px 20px;
  justify-content: flex-end;
}



.main {
  grid-area: 2 / 1 / 3 / 4;
}

.side-bar {
  grid-area: 2 / 1 / 3 / 2;
  flex: 1;
  background-color: #d4dacf;
  padding: 80px;
  text-align: center;
}

.second-grid {
  display: grid;
  grid-template-columns: 1.5fr 1.1fr 0.4fr;
  grid-template-rows: 0.9fr 1.1fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "study-guide study-guide study-guide"
    "refactor-challenge portfolio portfolio"
    "personal-blog breakfast-generator breakfast-generator";
  grid-area: 2 / 2 / 3 / 4;
}

.second-grid img {
  max-height: 150px;
  max-width: 150px;
  font-size: 1.5em;
}

.study-guide,
.refactor-challenge,
.portfolio,
.personal-blog,
.breakfast-generator {
  border-style: solid;
  border-width: 1px;
  border-radius: 10px;
  padding: 10px;
  flex: 0 0 400px;
  background-position: center;
  background-size: cover;
}


.study-guide {
  grid-area: study-guide;
  background-image: url(../images/study1.jpeg);
}

.refactor-challenge {
  grid-area: refactor-challenge;
  background-image: url(../images/refactor.jpeg);
}


.portfolio {
  grid-area: portfolio;
  background-image: url(../images/portfolio.jpeg);
}

.personal-blog {
  grid-area: personal-blog;
  background-image: url(../images/blog.jpeg);
}

.breakfast-generator {
  grid-area: breakfast-generator;
  background-image: url(../images/breakfast.jpeg);
}


.footer {
  grid-area: 3 / 1 / 4 / 4;
  padding: 20px;
  background-color: #cbd0d4;
  display: flex;
  justify-content: space-around;
  align-items: baseline;
}

.footer a {
  padding: 14px 20px;
  text-decoration: none;
  color: #000;
  font-weight: bold;
}



html,
body,
.first-grid {
  height: 100%;
  margin: 0;
}

@media screen and (max-width: 768px) {
  main,
  nav {
    flex-direction: column;
  }
}